@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Courier+Prime&family=Montserrat:wght@400;900&display=swap");
/* font-family: 'Caesar Dressing', cursive; */
/* font-family: 'Courier Prime', monospace; */
/* font-family: 'Montserrat', sans-serif; */
/* D4E2D4
7C9D96-1
#6096B4-2
A1CCD1-background
E9B384 */

/* <--presets here--> */

:root {
  --greek-font--: "Caesar Dressing", cursive;
  --primary-text-color--: #7c9d96;
  --line-padding--: 0 100px;
  --secondary-text-color: #6096b4;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

*::selection {
  background-color: white;
  color: #a1ccd1;
}

::-webkit-scrollbar{
    display: none;
}


body {
  background-color: #a1ccd1;
}

#loader {
  height: 100vh;
  width: 100%;
  background-color: #d4e2d4;
  position: fixed;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader h1 {
  font-family: monospace;
  font-family: "Caesar Dressing", cursive;
  color: #2f3030;
  /* font-family: 'Courier Prime', monospace; */
  /* font-family: "Montserrat", sans-serif; */
  font-size: 3rem;
  font-weight: 999;
}

#main {
  padding: var(--line-padding--);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.page1{
    height: 100vh;
    position: relative;
}

/* <--Cursor styling here--> */

#cursor{
  height: 20px;
  width: 20px;
  background-color: #d4e2d4;
  /* position: absolute; */
  border-radius: 50%;
  position: fixed;
  z-index: 1;
}

.round-cursor {
    z-index: 9;
  }
/* <--Nav bar here--> */

nav {
  margin-top: 10px;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  border-bottom: 2px solid #d4e2d4;
  z-index: 10; 
}

nav a {
    font-family: var(--greek-font--);
    font-size: 2.1rem;
    color: #6096b4;
    /* transition: all linear 0.2s; */
    /* display: block; */
    /* padding: 50px; */
    /* width: 150px;
    height: 153px; */
    text-align: center;
}

nav a:hover {
  color: #d4e2d4;
}

/* <--Name container--> */

h1 {
  text-align: center;
  font-size: 25rem;
  color: var(--primary-text-color--);
  letter-spacing: 25px;
  font-family: var(--greek-font--);
}

.name-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.name-container ul li {
  font-size: 2.5rem;
  color: var(--secondary-text-color);
  color: #d4e2d4;
  font-family: var(--greek-font--);
}


/* <--Scroll down styling here--> */


.scroll-down{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: monospace;
    opacity: 0;
}


/* <__page 2 here--> */

.page2{
    margin-top: 50px;
    height: 140vh;
    width: 100%;
    display: flex;
}

.left-container{
    padding: 30px 0;
    width: 35%;
    height: 140vh;
    padding: 0 50px;
    border-right: 2px solid black;
}

.left-container h2{
    font-size: 6rem;
    font-family: var(--greek-font--);    
    color: crimson;
    text-transform: uppercase;
    /* font-family: 'Courier Prime', monospace; */
}

.left-container img{
    background-color: crimson;
    padding: 30px 0;
    width: 100%;
    height: 510px;
    object-fit: cover;
}

.left-container p{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Courier Prime', monospace; */
    font-size: 2rem;
    /* display: inline-block;
    white-space: nowrap; */
    /* width: 300px; */
}

.left-container span{
    /* display: inline-block;
    white-space: nowrap; */
    font-size: 5rem;
}

.right-container{
    width: 65%;
    padding: 0px 50px;
}


.right-container img{
  width: 100%;
  object-fit: cover;
}


.right-container h1{
  font-family: var(--greek-font--);
  color: black;
  font-size: 15rem;
  font-weight: bolder;
  line-height: 13.7rem;
  /* text-align: center; */
  padding: 20px;
  /* text-decoration: line-through; */
  /* text-decoration-line: 2px; */
}


/* <--page 3 here--> */

.page3 .page3-heading h1{
  font-size: 5rem;
}









.spacer{

    height: 300vh;
}